@import url("https://fonts.googleapis.com/css2?family=Inter&family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0px;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}

// main

.main {
  width: 1480px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  // border: #5386e4 1px solid;
  margin: 0 auto;
}
.main_container {
  width: 1480px;
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
}

.main_text {
  display: flex;
  flex-direction: column;
}

.main_text_city {
  color: #000;

  font-family: "Work Sans", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_text_region {
  color: #000;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_map {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main_map_map_map {
  width: 980px;
  height: 565px;
  background-color: aqua;
}

.main_map_map_text {
  margin-top: 26px;
  color: #000;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 980px;
  height: 200px;
  // border: 1px solid black;
}
.main_map_routes {
  width: 480px;
  height: 565px;
}
.main_map_routes_frame {
  height: 48px;
  background-color: #5386e4;
}
.main_map_routes_frame_text {
  color: #fff;
  display: flex;
  width: 140px;
  height: 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_map_routes_frame_text:hover {
  color: #e4e4e4;
  cursor: pointer;
}

.main_map_routes_cards {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 509px;
}
.main_map_routes_text {
  padding-top: 26px;
  width: 472px;
  height: 200px;
  color: #000;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
